body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#word-display {
    font-size: 24px;
    margin-bottom: 20px;
}

#guesses {
    margin-bottom: 20px;
}

#message {
    margin-bottom: 20px;
    font-weight: bold;
}

#restart-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#restart-btn:hover {
    background-color: #0056b3;
}
